[Unit]
Description=Check for jamesjarvis.io content changes every 5 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
