<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.jamesjarvis.content-backup-maintain</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jamesjarvis/development/jamesjarvis.io/scripts/backup.sh</string>
        <string>--maintain</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/jamesjarvis/Library/Logs/content-backup-maintain.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jamesjarvis/Library/Logs/content-backup-maintain.log</string>

    <key>LowPriorityIO</key>
    <true/>

    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>
