@import './_colors.scss';

%codeShared {
  color: $lightFont;
  letter-spacing: 0.05ch;
  font-weight: lighter;
}

%listJoin {
  li + li::before {
    @extend %codeShared;
    content: "','";
  }
}

.python {
  @extend %listJoin;

  ul::before {
    @extend %codeShared;
    content: "nav=['";
  }

  ul::after {
    @extend %codeShared;
    padding-right: 1ch;
    content: "']";
  }
}

.javascript {
  @extend %listJoin;
  
  ul::before {
    @extend %codeShared;
    content: "const nav=['";
  }

  ul::after {
    @extend %codeShared;
    content: "'];";
  }
}

.java {
  ul::before {
    @extend %codeShared;
    content: "String[] nav=[\"";
  }

  li + li::before {
    @extend %codeShared;
    content: "\",\"";
  }

  ul::after {
    @extend %codeShared;
    content: "\"];";
  }
}

.go {
  ul::before {
    @extend %codeShared;
    content: "nav := []string{\"";
  }

  li + li::before {
    @extend %codeShared;
    content: "\",\"";
  }

  ul::after {
    @extend %codeShared;
    content: "\"}";
  }
}

.graphql {
  ul::before {
    @extend %codeShared;
    content: "\"links\": [{\"id\":\"";
  }

  li + li::before {
    @extend %codeShared;
    content: "\"},{\"id\":\"";
  }

  ul::after {
    @extend %codeShared;
    content: "\"}]";
  }
}

.typescript {
  ul::before {
    @extend %codeShared;
    content: "var nav[:string] = [\"";
  }

  li + li::before {
    @extend %codeShared;
    content: "\",\"";
  }

  ul::after {
    @extend %codeShared;
    content: "\"]";
  }
}

.bash {
  ul::before {
    @extend %codeShared;
    content: "nav = (";
  }

  li + li::before {
    @extend %codeShared;
    content: "  ";
  }

  ul::after {
    @extend %codeShared;
    content: ")";
  }
}
