@import "../../styles/_colors.scss";
@import "../../styles/tooltips.scss";
$shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.15);

#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 40px;

  .avatar {
    width: 200px;
    height: 200px;
    padding-bottom: 13px;

    div {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
      border: 1.5px solid white;
      vertical-align: middle;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -khtml-border-radius: 50%;
      border-radius: 50%;
    }
  }

  #name {
    margin: 0;
    text-align: center;
    letter-spacing: 0.1ch;
  }

  #title {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.06ch;
    color: $lightFont;
  }

  hr {
    padding: 0;
    margin: 10px 0 10px 0;
    height: 1px;
    width: 100%;
    min-width: 20px;
    max-width: 100px;
    border: 0;
    border-top: 1px solid $lightFont;
  }

  #bio {
    max-width: 600px;
    text-align: center;
  }

  #arrow {
    &:hover {
      cursor: pointer;
    }
  }
}
