@import "../../styles/colors.scss";
$shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 25px 0 rgba(0, 0, 0, 0.15);

#me {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    div {
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }

    :hover {
      transform: scale(1.05);
    }

    img:hover {
      transform: none;
    }
  }

  #name {
    margin: 0;
    text-align: center;
  }

  #title {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.18ch;
    color: $lightFont;
  }

  hr {
    padding: 0;
    margin: 10px 0 10px 0;
    height: 1px;
    width: 100%;
    min-width: 20px;
    max-width: 100px;
    border: 0;
    border-top: 1px solid $lightFont;
  }

  #bio {
    max-width: 600px;

    letter-spacing: 0.1ch;
  }
}
