/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*==== FADE OUT UP ===*/
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

/*=== GROW WIDTH  ===*/
@-webkit-keyframes growWidth {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
@keyframes growWidth {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.growWidth {
  -webkit-animation-name: growWidth;
  animation-name: growWidth;
}

/*=== GROW HEIGHT  ===*/
@-webkit-keyframes growHeight {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
@keyframes growHeight {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.growHeight {
  -webkit-animation-name: growHeight;
  animation-name: growHeight;
}

/*=== SHRINK HEIGHT  ===*/
@-webkit-keyframes shrinkHeight {
  from {
    // transform: scaleY(1);
    max-height: initial;
  }

  to {
    // transform: scaleY(0);
    max-height: 0;
  }
}
@keyframes shrinkHeight {
  from {
    // transform: scaleY(1);
    max-height: initial;
  }

  to {
    // transform: scaleY(0);
    max-height: 0;
  }
}

.shrinkHeight {
  -webkit-animation-name: shrinkHeight;
  animation-name: shrinkHeight;
}

/*=== UPSIDE DOWN  ===*/
@-webkit-keyframes upsideDown {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes upsideDown {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.upsideDown {
  -webkit-animation-name: upsideDown;
  animation-name: upsideDown;
}

/*=== UPSIDE UP  ===*/
@-webkit-keyframes upsideUp {
  from {
    -webkit-transform: rotate(180deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes upsideUp {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.upsideUp {
  -webkit-animation-name: upsideUp;
  animation-name: upsideUp;
}

@keyframes bounce {
  $top: -7px;
  $middle: -3px;
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY($top);
    -ms-transform: translateY($top);
    -webkit-transform: translateY($top);
    transform: translateY($top);
  }
  60% {
    -moz-transform: translateY($middle);
    -ms-transform: translateY($middle);
    -webkit-transform: translateY($middle);
    transform: translateY($middle);
  }
}

.bounce {
  animation: bounce 2s infinite;
}