@import "./_colors.scss";
@import "./animations.scss";

html,
body {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.11ch;
  margin: 0;
  padding: 0;
  color: $mainFont;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: all 0.2s ease-in-out;

  &:hover {
    letter-spacing: 0.14ch;
    color: $linkHover;
  }
}

h1 {
  font-size: 2em;
}

img {
  width: 100%;
}

blockquote {
  color: $lightFont;
  
  p:before {
    content: '-- ';
  }
}

#landing {
  margin-top: 15vh;
  margin-bottom: 30px;
}

.date {
  &:before {
    content: " -- ";
  }

  &:after {
    content: " -- ";
  }

  font-size: 15px;
}

.links {
  display: block;
  padding-bottom: 8px;

  .link {
    padding-right: 10px;
    width: 25px;
    height: 25px;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 500px;

  .large {
    font-size: 7em;
  }
  .medium {
    font-size: 2em;
  }
  .small {
    font-size: 1em;
  }
}