@import './colors.scss';
@import './animations.scss';

html,
body {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.5ch;
  margin: 0;
  padding: 0;
  color: $mainFont;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: all .2s ease-in-out;

  &:hover {
    letter-spacing: 0.20ch;
    color: $linkHover;
  }
}

h1 {
  font-size: 2em;
}

.date {
  &:before {
    content: " -- ";
  }

  &:after {
    content: " -- ";
  }

  font-size: 15px;
  // padding: 0 10px;
}