@import './colors.scss';

html,
body {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.5ch;
  margin: 0;
  padding: 0;
  color: $mainFont;
}

.title {
  text-align: center;
}

.content {
  text-align: center;
  padding: 30px 0;
  z-index: 0;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: all .2s ease-in-out;

  &:hover {
    letter-spacing: 0.20ch;
    color: $linkHover;
  }
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.two {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.three {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.four {
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*==== FADE OUT UP ===*/
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@supports (-webkit-appearance: none) {
  .translucent {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #ffffff4b;
  }
}
@supports not (-webkit-backdrop-filter: blur(8px)) {
  $backgroundColor: #ffffffd5;
  .translucent {
    // background-color: #ffffffd5;
    text-shadow: 0ch 0ch 1ch white;
    background: -moz-linear-gradient(
      top,
      $backgroundColor 75%,
      rgba(255, 255, 255, 0) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      $backgroundColor 75%,
      rgba(255, 255, 255, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      $backgroundColor 75%,
      rgba(255, 255, 255, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$backgroundColor, endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

/*=== GROW WIDTH  ===*/
@-webkit-keyframes growWidth {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
@keyframes growWidth {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.growWidth {
  -webkit-animation-name: growWidth;
  animation-name: growWidth;
}

/*=== GROW HEIGHT  ===*/
@-webkit-keyframes growHeight {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
@keyframes growHeight {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.growHeight {
  -webkit-animation-name: growHeight;
  animation-name: growHeight;
}

/*=== SHRINK HEIGHT  ===*/
@-webkit-keyframes shrinkHeight {
  from {
    // transform: scaleY(1);
    max-height: initial;
  }

  to {
    // transform: scaleY(0);
    max-height: 0;
  }
}
@keyframes shrinkHeight {
  from {
    // transform: scaleY(1);
    max-height: initial;
  }

  to {
    // transform: scaleY(0);
    max-height: 0;
  }
}

.shrinkHeight {
  -webkit-animation-name: shrinkHeight;
  animation-name: shrinkHeight;
}

/*=== UPSIDE DOWN  ===*/
@-webkit-keyframes upsideDown {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes upsideDown {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.upsideDown {
  -webkit-animation-name: upsideDown;
  animation-name: upsideDown;
}

/*=== UPSIDE UP  ===*/
@-webkit-keyframes upsideUp {
  from {
    -webkit-transform: rotate(180deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes upsideUp {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.upsideUp {
  -webkit-animation-name: upsideUp;
  animation-name: upsideUp;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-13px);
    -ms-transform: translateY(-13px);
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
  }
  60% {
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}