@import '../../../styles/colors.scss';

header {
  font-family: 'Roboto Mono', monospace;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 0;
  display: inline;
  z-index: 10;

  .navbar {
    padding-right: 20px;
    font-size: 13px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0.15ch;
    float: right;

    li {
      display: inline;
    }
  }
}
