@import "../../../styles/_colors.scss";

header {
  font-family: "Roboto Mono", monospace;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: auto;
  margin: 0;
  display: inline;
  z-index: 10;

  @supports (-webkit-appearance: none) {
    &.translucent {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: #ffffff4b;
    }
  }
  @supports not (-webkit-backdrop-filter: blur(8px)) {
    $backgroundColor: #ffffffd5;
    &.translucent {
      text-shadow: 0ch 0ch 1ch white;
      background-color: $backgroundColor;
    }
  }

  nav {
    padding: 0 20px;
    font-size: 14px;
    height: auto;

    ul {
      list-style-type: none;
      margin: 20px 0;
      letter-spacing: 0.15ch;
      float: right;

      li {
        display: inline;

        a {
          &:hover {
            letter-spacing: 0.2ch;
          }
          &.active {
            color: $linkHover;
          }
        }
      }
    }
  }
}
