{{ $img := .img }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $lazy := .lazy | default true }}
{{ $webp := .webp | default true }}
{{ $lqip := .lqip | default false }}
{{ $maxSize := .maxSize | default $img.Width }}

{{ with $img }}
  {{ if (eq .MediaType.SubType "svg") }}
    {{ $width := "" }}
    {{ $height := "" }}
    {{ $svgContent := .Content }}
    {{ range (findRESubmatch `<svg[^>]*width=["']([.0-9]*)["'a-zA-Z]` $svgContent 1) }}
      {{ $width = index . 1 }}
    {{ end }}
    {{ range (findRESubmatch `<svg[^>]*height=["']([.0-9]*)["'a-zA-Z]` $svgContent 1) }}
      {{ $height = index . 1 }}
    {{ end }}
    {{ if (eq "" $width $height) }}
      {{ range (findRESubmatch `<svg[^>]*viewBox=["']?([.0-9]*) ([.0-9]*) ([.0-9]*) ([.0-9]*)` $svgContent 1) }}
        {{ $width = index . 3 }}
        {{ $height = index . 4 }}
      {{ end }}
    {{ end }}
    {{ if (eq "" $width $height) }}
      {{ warnf "Can't detect width and height for SVG %s" .RelPermalink }}
      {{/* do not use lazy without dimensions */}}
      {{ $lazy = false }}
    {{ end }}
    <!-- prettier-ignore -->
    <picture {{ with $class }} class="{{ . }}" {{ end }}>
      <img
        src="{{ .RelPermalink }}"
        {{ with $width }}width="{{ . }}"{{ end }}
        {{ with $height }}height="{{ . }}"{{ end }}
        {{ with $class }}class="{{ . }}"{{ end }}
        {{ with $alt }}alt="{{ . }}"{{ end }}
        {{ with $lazy }}loading="lazy" decoding="async"{{ end }}
      />
    </picture>
  {{ else }}
    {{ if (eq .MediaType.SubType "gif") }}
      {{ $lqip = false }}
      {{ $webp = false }}
    {{ end }}
    <picture
      {{ with $class }}class="{{ . }}"{{ end }}
      {{ if $lqip }}
        {{ $placeholder := (.Resize "48x webp q20") | images.Filter (images.GaussianBlur 20) }}
        {{ $bg := $placeholder.Content | base64Encode }}
        style="background-image:url(data:image/webp;base64,{{ $bg }});background-size:cover"
      {{ end }}
    >
      {{ $resolutions := slice 660 1320 }}
      {{ if $webp }}
        <source
          srcset="
          {{ range $res := $resolutions }}
            {{ if lt $maxSize $res }}
              {{ break }}
            {{ end }}
            {{- ($img.Resize (printf "%dx webp" $res)).RelPermalink }}
            {{ (printf "%dw" $res) }},
          {{ end }}
          "
          type="image/webp"
        />
      {{ end }}
      <img
        width="{{ .Width }}"
        height="{{ .Height }}"
        {{ with $class }}class="{{ . }}"{{ end }}
        {{ with $alt }}alt="{{ . }}"{{ end }}
        {{ with $lazy }}loading="lazy" decoding="async"{{ end }}
          srcset="
          {{ range $res := $resolutions }}
            {{ if lt $maxSize $res }}
              {{ break }}
            {{ end }}
            {{- ($img.Resize (printf "%dx" $res)).RelPermalink }}
            {{ (printf "%dw" $res) }},
          {{ end }}
          "
          src="{{- ($img.Resize "1320x" ).RelPermalink }}"
          sizes="100vw"
      />
    </picture>
  {{ end }}
{{ end }}
