@import '../../styles/colors.scss';

#techs {
  &:before {
    content: " -- "
  }
  padding-left: 13px;
  display: inline;
  flex-flow: row wrap;
  align-items: center;
}

.tech {
  vertical-align: center;
  font-size: 14px;
  margin: auto;
  padding: 10px;
  color: $lightFont;

  &:hover {
    transform: scale(1.05);
    color: $linkHover;
  }
}
