footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  text-shadow: 0ch 0ch 1ch white;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent #ffffff transparent;
}
